---
name: Warmup Service
on:
  schedule:
    - cron: "*/15 * * * *"
jobs:
  run-updater:
    runs-on: ubuntu-latest
    steps:
      - name: REST API with curl
        run: |
          curl -X GET "https://tappaevents.onrender.com/events"